#Dictionaries

In [1]:
thisdict = {
    "brand": 'Ford',
    "model": 'Mustang',
    "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [2]:
print(thisdict["brand"])

Ford

##Panda DataFrames

In [5]:
import pandas as pd
data = { "Calories": [420, 380, 390],
        "Duration": [50, 40, 45]
        }

df = pd.DataFrame(data)
print(df)

   Calories  Duration
0       420        50
1       380        40
2       390        45

In [25]:
pics = pd.read_csv("https://raw.githubusercontent.com/CunyLaguardiaDataAnalytics/datasets/master/BL-Flickr-Images-Book.csv")

In [26]:
pics.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [27]:
print(pics.to_string())

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [28]:
print(pics)

      Identifier  ...                                         Shelfmarks
0            206  ...                  British Library HMNTS 12641.b.30.
1            216  ...                  British Library HMNTS 12626.cc.2.
2            218  ...                  British Library HMNTS 12625.dd.1.
3            472  ...                British Library HMNTS 10369.bbb.15.
4            480  ...                   British Library HMNTS 9007.d.28.
...          ...  ...                                                ...
8282     4158088  ...  British Library HMNTS|British Library HMNTS 10...
8283     4158128  ...  British Library HMNTS|British Library HMNTS 10...
8284     4159563  ...  British Library HMNTS|British Library HMNTS 19...
8285     4159587  ...  British Library HMNTS|British Library HMNTS 10...
8286     4160339  ...  British Library HMNTS|British Library HMNTS 79...

[8287 rows x 15 columns]

##Dropping Columns

In [14]:
drop_cols = ['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver']

In [29]:
pics.drop(drop_cols, inplace= True, axis= 1)

##Changing the Index

In [21]:
import pandas as pd
data = {
    "name": ["Sally", "Mary", "John"],
    "age": [50, 40, 30],
    "qualified": [True, False, False]
}

idx = ["X", "Y", "Z"]
df = pd.DataFrame(data, index=idx)
print(df)
print("&"*30)
newdf = df.reset_index()
print(newdf)

    name  age  qualified
X  Sally   50       True
Y   Mary   40      False
Z   John   30      False
&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&
  index   name  age  qualified
0     X  Sally   50       True
1     Y   Mary   40      False
2     Z   John   30      False

In [22]:
df = pd.DataFrame({'Month': [1, 4, 7, 10],
                   'Year': [2012, 2014, 2013, 2014],
                   'Sale': [55, 40, 84, 31]})

df

   Month  Year  Sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

In [24]:
# Set the index to become the 'month' column:

df.set_index('Month')
df

   Month  Year  Sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

##DATA TIDYING

In [36]:
pics.loc[1905:, 'Date of Publication'].head(10)

1905         1879
1906         1886
1907         1844
1908    1861-1909
1909         1884
1910         1885
1911         1834
1912         1837
1913         1867
1914         1830
Name: Date of Publication, dtype: object

In [37]:
regex = r'^(\d{4})'

In [38]:
pics1 = pics['Date of Publication'].str.extract(regex, expand=False)

In [39]:
pics1.head()

0    1879
1    1868
2    1869
3    1851
4    1857
Name: Date of Publication, dtype: object

In [40]:
pics['Date of Publication'] = pd.to_numeric(pics1)
pics['Date of Publication'].dtype

dtype('float64')