# Unit 3 - Advanced Python - NumPy - Assingment #1

## 1. Environment Set up

In [30]:
import numpy as np
import pandas as pd

In [31]:
#Dataset from summer Olympic London, year 2012
np_olympic_country = np.array(['GBR','China','RUS','US','KOR','JPN','GER'])
np_olympic_country_Gold = np.array([29,38,24,46,13,7,11])
np_olympic_country_Silver = np.array([17,28,25,28,8,14,11])
np_olympic_country_Bronze = np.array([19,22,32,29,7,17,14])

In [32]:
data = {'Country': np_olympic_country,
       'Gold Medal': np_olympic_country_Gold,
        'Silver Medal': np_olympic_country_Silver,
        'Bronze Medal': np_olympic_country_Bronze}
olympic_wins = pd.DataFrame(data, columns=['Country', 'Gold Medal',
                                           'Silver Medal', 'Bronze Medal'])

In [33]:
print(olympic_wins)

  Country  Gold Medal  Silver Medal  Bronze Medal
0     GBR          29            17            19
1   China          38            28            22
2     RUS          24            25            32
3      US          46            28            29
4     KOR          13             8             7
5     JPN           7            14            17
6     GER          11            11            14

## 2.	Find country with maximum gold

In [80]:
most_gold = np_olympic_country_Gold.argmax()
max_gold = np_olympic_country[most_gold]

In [84]:
print(max_gold + " has the most gold medals with  46"  )

US has the most gold medals with  46

## 3.	Find countries with more than 20 gold medals

In [98]:
top_4 = np_olympic_country[np_olympic_country_Gold > 20]
print(str(top_4) + ' each of these countries has more than 20 gold medals')

['GBR' 'China' 'RUS' 'US'] each of these countries has more than 20 gold medals